
#nav {
	margin-top: 6px;
	border: none;
	background-color: #094fda;
	color: white;
	font-size: 20px;
	
}

#led {
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}

#testTrial {
    padding: 20px;
	margin: 10px;
	font-size: 20px;
}

#startButton {
	border-radius: 50px;
	 padding: 20px;
	margin: 10px;
	font-size: 20px;
}

#stopButton {
	border-radius: 50px;
	 padding: 20px;
	margin: 10px;
	font-size: 20px;
}
